.technical-skills {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 60px;
    padding-top: 5.5rem;

    @include md-view {
        flex-direction: column;
    }

    .title {
        color: $main-color;
        margin-bottom: 20px;
    }

    img {
        width: 100px;
        filter: grayscale(1);
        position: relative;

        &:after {
            background: #000;
            height: 100%;
            width: 100%;
        }
    }

    p {
        margin: 20px 0;
    }

    & > div {
        flex: 1;
    }
}

.technical__box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

// .technical {

//     &__decsription,
//     &__box {
//         flex: 1;
//     }
// }