.paragraph {
    color: $color-black;
    display: block;
    font-size: 1rem;

    &--light {
        color: $light-black;
    }

    &--bold {
        font-weight: 600;
    }

    @include sm-view {
        font-size: .90rem;
    }
}

.title {
    font-size: 1.1rem;
    font-weight: 600;
}

.project__title {
    color: #777777;
    font-size: 2rem;
    font-weight: bold;
}

.project__description {
    color: #635c5c;
    font-size: 1.1rem;
    font-weight: 400;
}